# ignore all these type of files in every folder
*.zip
*.npz
*.pyc
*.bmp
*.png
*.0
*.pth

# ignore specific files in some folders
Labs/Lab1/tester.ipynb

Labs/Lab2/lab2/dataset

Labs/Lab3/Lab3-Leukemia_Classification/C-NMC_Leukemia
Labs/Lab3/Lab3-Leukemia_Classification/debug
Labs/Lab3/Lab3-Leukemia_Classification/models

Labs/Lab4/LAB4/Demo_Test

Labs/Lab5/temp

Labs/Lab6/*
!Labs/Lab6/*.py