
/Labs/Lab3/Lab3-Leukemia_Classification/C-NMC_Leukemia
*.zip
*.npz
*.pyc
*.bmp
*.png
/Labs/Lab1/tester.ipynb
Labs/Lab3/Lab3-Leukemia_Classification/debug
Labs/Lab3/Lab3-Leukemia_Classification/models